<ion-header>
  <ion-navbar>
    <ion-title>Soni</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card-title>Aranha da Floresta <ion-badge>Nv. 1</ion-badge></ion-card-title>

      <p>
        Aranha pequena que vive na floresta. 
        Monstro fraco que não apresenta perigo nem para os iniciantes.
      </p>

      <ion-row>
        <ion-col>
          <button ion-button>Enfrentar</button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>