<ion-header>
  <ion-navbar>
    <ion-title>Mundo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item (tap)="goToSoni()">Soni <ion-badge>Nv. 1 - 9</ion-badge></button>
    <button ion-item>Deka <ion-badge>Nv. 10 - 19</ion-badge></button>
    <button ion-item>Glaka <ion-badge>Nv. 20 - 29</ion-badge></button>
    <button ion-item>Walo <ion-badge>Nv. 30 - 39</ion-badge></button>
    <button ion-item>Doria <ion-badge>Nv. 40 - 50</ion-badge></button>
  </ion-list>
</ion-content>
