<ion-header>
  <ion-navbar>
    <ion-title>Inventário</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <p text-center>EQUIPAMENTOS</p>
  <ion-grid>
    <ion-row>
      <ion-col col-4 offset-4 text-center>
        <ion-icon name="headset"></ion-icon>
        <p>ELMO</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4 text-center>
        <ion-icon name="construct"></ion-icon>
        <p>ARMA</p>
      </ion-col>
      <ion-col col-4 text-center>
        <ion-icon name="shirt"></ion-icon>
        <p>ARMADURA</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <ion-icon name="hand"></ion-icon>
        <p>LUVAS</p>
      </ion-col>
      <ion-col text-center>
        <ion-icon name="home"></ion-icon>
        <p>CALÇAS</p>
      </ion-col>
      <ion-col text-center>
        <ion-icon name="walk"></ion-icon>
        <p>BOTAS</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <p text-center>¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨</p>

  <p text-center>MOCHILA</p>
  <ion-grid>
    <ion-row>
      <ion-col col-3 text-center>
        <ion-icon name="square-outline"></ion-icon>
        <p>VAZIO</p>
      </ion-col>
      <ion-col col-3 text-center>
        <ion-icon name="square-outline"></ion-icon>
        <p>VAZIO</p>
      </ion-col>
      <ion-col col-3 text-center>
        <ion-icon name="square-outline"></ion-icon>
        <p>VAZIO</p>
      </ion-col>
      <ion-col col-3 text-center>
        <ion-icon name="square-outline"></ion-icon>
        <p>VAZIO</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <ion-icon name="square-outline"></ion-icon>
        <p>VAZIO</p>
      </ion-col>
      <ion-col text-center>
        <ion-icon name="square-outline"></ion-icon>
        <p>VAZIO</p>
      </ion-col>
      <ion-col text-center>
        <ion-icon name="square-outline"></ion-icon>
        <p>VAZIO</p>
      </ion-col>
      <ion-col text-center>
        <ion-icon name="square-outline"></ion-icon>
        <p>VAZIO</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <ion-icon name="square-outline"></ion-icon>
        <p>VAZIO</p>
      </ion-col>
      <ion-col text-center>
        <ion-icon name="square-outline"></ion-icon>
        <p>VAZIO</p>
      </ion-col>
      <ion-col text-center>
        <ion-icon name="square-outline"></ion-icon>
        <p>VAZIO</p>
      </ion-col>
      <ion-col text-center>
        <ion-icon name="square-outline"></ion-icon>
        <p>VAZIO</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
